body {
  font-family: 'Work Sans', sans-serif;
  padding: 20px 40px;
}
h1 {
  text-align: center;
  border-bottom: 2px solid #a4acba;
}
p {
  color: #464f5d;
  font-style: italic;
  margin: 0;
  text-align: center;
}
#twitter,
#instagram {
  display: inline-block;
  width: 500px;
}
#instagram {
  float: right;
}
.logo-wrapper {
  bottom: 80px;
  display: inline-block;
  position: relative;
}
#twitter img {
  height: 45px;
  width: auto;
}
#instagram img{
  /* adjust for difference in logo padding internal to png */
  height: 25px;
  padding: 10px;
  width: auto;
}
#twitter-sparkline,
#instagram-sparkline {
  display: inline-block;
}
#twitter-sparkline .data-line {
  stroke: #55acee;
}
#instagram-sparkline .data-line {
  stroke: black;
}